{% extends 'base.html.twig' %}

{% block title %}Formation index{% endblock %}

{% block body %}
   {% for message in app.flashes('success') %}
            <div class="alert alert-success" role="alert">
                {{ message}}
            </div>
        {% endfor %}
<div class ="container">
    <h1>Vos formations</h1>
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Titre</th>
                <th>Crée le</th>
                <th>Dernière mise à jour</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for formation in formations %}
                <tr>
                    <td>{{ formation.id }}</td>
                    <td>{{ formation.name }}</td>
                    <td>{{ formation.createdAt ? formation.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                    <td>{{ formation.updatedAt ? formation.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
                    <td>
                        <a href="{{ path('app_formation_show', {'id': formation.id}) }}">voir</a>
                        <a href="{{ path('app_formation_edit', {'id': formation.id}) }}">modifier</a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="5">aucune formation trouvée</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <a href="{{ path('app_formation_new') }}" class="btn btn-primary btn-md mb-3">Créer une nouvelle</a>
</div>
{% endblock %}
